<nav class="nav">
  <ul class="list list--nav">
    {%- assign main_pages = site.pages | where_exp:"p","p.parent == nil and p.title and p.title != false" -%}
    {%- for item in main_pages -%}
      {%- unless item.url contains "/404.html" or item.url contains "/feed." or item.url contains "/page" -%}

        {%- assign children = site.pages | where: "parent", item.title -%}

        <li class="item item--nav{% if item.url == page.url %} item--current{% endif %}">
          <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>

          {%- if children and children != empty -%}
            <ul class="subnav">
              {%- for child in children -%}
                {%- unless child.title == false or child.title == "" -%}
                  <li class="subnav-item">
                    <a href="{{ site.baseurl }}{{ child.url }}">{{ child.title }}</a>
                  </li>
                {%- endunless -%}
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>

      {%- endunless -%}
    {%- endfor -%}
  </ul>
</nav>
